<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Add/Edit Vehicle</title>
    <link rel="stylesheet" th:href="@{/styles/vehicle.css}" />
  </head>
  <body>
    <h2>Add/Edit Vehicle</h2>

    <form
      th:object="${vehicle}"
      th:action="@{/vehicles/saveVehicle}"
      method="post"
    >
      <input type="hidden" th:field="*{vid}" />

      <label>Model Year: <input type="text" th:field="*{model_year}" /></label
      ><br />
      <label
        >Manufacturer: <input type="text" th:field="*{manufacturer}" /></label
      ><br />
      <label>Model: <input type="text" th:field="*{model}" /></label><br />
      <label>Color: <input type="text" th:field="*{color}" /></label><br />
      <label>Mileage: <input type="text" th:field="*{mileage}" /></label><br />
      <label
        >Registration Number:
        <input type="text" th:field="*{registation_number}" /></label
      ><br />
      <label>Price: <input type="text" th:field="*{price}" /></label><br />

      <button type="submit">Save</button>
    </form>

    <a th:href="@{/vehicles/list}">Back to Vehicle List</a>
  </body>
</html>
