.frame{
    width: 100%;
    height: 100%;
    background-color: #615B5B;
    padding: 2px;
    display: flex;
    flex-direction: column;

}
    .container-header{
        width: 100%;
        height: 70px;
        background-color: #203E61;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
    }
        .name{
            color: #fff;
            font-size:x-large;
        }
    
        .more{
            width: 150px;
            height: 40px;
            /* background-color: green; */
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            font-size: larger;
            color: #fff;
        }
            .profile{
                width: 35px;
                height: 35px;
                border-radius: 100%;
            }
    .container-body{
        width: 100%;
        height: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: row;

    }
        .list-header{
            width: 280px;
            height: 100%;
            background-color: #fff;
            border: solid black ;
            border-width: 0px 2px 0 0;
            display: flex;
            flex-direction: column;
            /* justify-content: center; */
            /* align-items: center; */
            padding: 30px 10px;
            gap: 20px;
        }
            .box-selected , .box-unselected, .logout{
                width: 100%;
                height: 40px;
                background-color: #203E61;
                color: #fff;
                display: flex;
                /* justify-content: center; */
                align-items: center;
                border-radius: 5px;
                gap: 10px;
                padding-left: 15px;
            }
            .box-unselected{
                background-color: #fff;
                color: #203E61;
                
            }
            .logout{
                margin: 70px 0px;
                background-color: #fff;
                color: red;
            }
            .box-selected:hover, .box-unselected:hover, .logout:hover{
                border:solid 2px #5FD2EB;
            }
        .content{
            width: 100%;
            height: 50%;
            /* background-color: red; */
            padding: 20px;
            display: flex;
            flex-direction: column;
        }
        .list{
            /* width: 800px; */
            height: 330px;
            padding: 50px 70px;
            background: #F7F4F4;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            margin: 40px 0;
            display: flex;
            justify-content: space-between;
        }
            .input{
                width: 400px;
                height: 40px;
                /* background-color: red; */
                border-radius: 5px;
                border: 2px solid #203E61;
                margin: 0 0 20px 20px;
                padding: 0 10px;
            }
            .left{
                width: 500px;
                padding: 2px;
                /* background-color: green; */
                gap: 10px;
                /* display: inline-block; */
                /* flex-direction: column; */
        
            }
            .right{
                padding: 2px;
                /* background-color: #203E61; */
                width: 500px;
                /* display: flex; */
                /* flex-direction: column; */
            }
            .submit ,.back{
                width: 100px;
                height: 40px;
                border: 1px solid black;
                border-radius: 5px;
                background-color: #203E61;
                color: #fff;
                position: relative;
                left: 520px;
                bottom: 120px;
            }
            .back{
                background-color: #A8ADB2;
                margin: 0 0 0 20px;
            }
            button:hover{
                border: 1px solid #5FD2EB;
            }
         